@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/responsive";



.ayuda-hero-col{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ayuda-titulo{
    font-family: $fonttitulo;
    font-size: 2rem;
}

.ayuda-txt{
    font-family: $fontnormal;
    font-size: 1.5rem;
}