@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/responsive";

.formCtnBig{
    font-family: $fontnormal;
    font-size: 1.2rem;
}

.inputField{
    width: 500px;

    @include tablet{
        width: 350px;
    }

    @include movil{
        width: 350px;
    }
}

.selectionFieldForm{
    @include tablet{
        width: 350px;
    }

    @include movil{
        width: 350px;
    }
}