@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/responsive";

.acuerdoMain{
    font-family: $fontnormal;
}

.acuerdoTitulo{
    font-family: $fonttitulo;
    font-size: 1.5rem;
}